html, body {
    height: auto;
    margin: 0;
}

body {
    background-image: url(Images/hex_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#just_header {
    background-image: url(Images/data_analytics.png);
    height: 25%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode:multiply;
}

#header_div {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1px 1px;
    font-size: 20px;
    padding: 10px;
}

#name_p {
    grid-column: 1;
    grid-row: 1;
    text-align: left;
    font-size: 30px;
}

#p_one {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
}

#p_two {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
}

#smw {
    grid-column: 1;
    grid-row: 2;
    width: 45%;
}

#smoke {
    position: absolute;
    opacity: 20%;
    top: 6%;
    left: -17%;
    height: 60%;
    width: 60%;
    filter: brightness(5);
}

#login_screen {
    position: absolute;
    width: 8%;
    right: 43.5%;
    top: 35%;
    color: white;
    opacity: 65%;
    display: block;
    padding: 2px;
}

#just_me {
    opacity: 75%;
    transition: opacity ease-in-out 0.5s;
    border-radius: 50%;
}

#just_me:hover {
    opacity: 95%; 
}

#img_text {
    font-size: 12.5px;
}

#projects {
    background-image: url('Images/laptop.jpg'); /* Path to your laptop image */
    background-size: cover; /* Ensure the laptop image scales nicely */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image within the section */
    position: relative;
    height: 100%; /* Set an appropriate height for the section */
    width: auto;
    aspect-ratio: 16/9;
    color: transparent;
}

#laptop_display {
    display: none;
    position: absolute;
    background-color: black;
    grid-template-columns: 1fr 1fr;   /* Two equal columns */
    grid-template-rows: 1fr 1.5fr 1.5fr 0.4fr; /* Four rows: top, middle top, middle bottom, bottom */
    gap: 3px 3px; /* Adjust as needed */
    height: 43.8%; /* Full container height */
    width: 38.4%;
    top: 23.8%;
    left: 33%;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes fadeOut {
    0% {opacity: 0;}
    100% {opacity: 0.65;}
}

.item {
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    transition: opacity ease-in-out 0.2s;
    opacity: 0.45;
}

.item:hover {
    opacity: 0.60;
}

.item a {
    display: block;
    width: 100%;
    height: 100%;
}

#project1 {
    background-image: url(Images/powerbi_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1; /* Place in the left column */
    grid-row: 2; /* Place in the middle row */
}

#project2 {
    background-image: url(Images/python_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 1; /* Place in the left column */
    grid-row: 3; /* Place in the middle row */
}

#project3 {
    background-image: url(Images/mysql_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2; /* Place in the right column */
    grid-row: 2; /* Place in the middle row */
}

#project4 {
    background-image: url(Images/excel_logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: 2; /* Place in the right column */
    grid-row: 3; /* Place in the middle row */
}

#project5 {
    background-image: url(Images/tableau_logo.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    grid-column: span 2; /* Project 5 takes the full width */
    grid-row: 1; /* Position at the top */
}

#taskbar {
    position: relative;
    background-color: rgb(47, 77, 168);
    grid-column: span 2; /* Taskbar spans both columns */
    grid-row: 4; /* Position at the bottom */
    padding: 2px;
    opacity: 0.7;
    display: flex;
    align-items: center;
}

#logoff_btn {
    position: absolute;
    padding: 2px;
    opacity: 0.6;
    width: 6%;
    transition: opacity ease-in-out 0.2s;
}

#logoff_btn:hover {
    opacity: 100%;
}

#contact, #about {
    background-color: transparent;
}
